@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .nav {
        margin-left: 15px;
    }

    .hero__container {
        padding-top: 50px;
    }
}

@media screen and (max-width: 900px) {
    .blog__img {
        max-width: 370px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 700px;
    }

.nav {
    display: flex;
    position: absolute;
    right: -100%;
    top: 120px;
    width: 150px;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
    transition: all 1s;
}

  .nav__toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 20;
    order: 2;
  }

  .burger__line {
    display: block;
    width: 34px;
    height: 3px;
    background: #222;
    border-radius: 2px;
    margin: 6px 0;
    position: relative;
  }

  .burger__line::before,
  .burger__line::after {
    content: "";
    position: absolute;
    display: block;
    width: 34px;
    height: 3px;
    background: #222;
    border-radius: 2px;
    top: -10px;
  }

  .burger__line::before {
    top: 10px;
  }

  .nav__checkbox:checked ~ .nav {
    display: inline-block;
    right: 0;
    transition: all 0.6s;
  }

.nav__checkbox:checked + .nav__toggle .burger__line {
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.nav__checkbox:checked + .nav__toggle .burger__line::before {
  transform: rotate(45deg);
  top: 0;
  transition: all 0.3s ease-in-out;
}

.nav__checkbox:checked + .nav__toggle .burger__line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: all 0.3s ease-in-out;
}

    .hero {
        margin-bottom: 70px;

        &__container {
        padding-top: 30px;
        }

        &__title {
        font-size: 36px;
        line-height: 50px;
        }
    }

    .blog {
        margin-bottom: 70px;

        &__img {
            max-width: 340px;
        }

        &__card {
            min-height: 280px;
            overflow: hidden;
            gap: 20px;
        }

        &__content_subtitle {
            margin-bottom: 10px;
        }

        &__date {
            margin-bottom: 40px;
        }
    }

    .posts__main,
    .popular,
    .info {
        margin-bottom: 70px;
    }

    .posts__main {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .posts__card {
        max-width: 700px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        &_reverse {
            flex-direction: row-reverse;
        }

        &_img {
            max-width: 330px;
            width: 100%;
        }

        &_content {
            max-width: 330px;
            width: 100%;
        }
    }

    .info__container {
        flex-direction: column;
    }

    .info__content_1 {
        max-width: 600px;
        width: 100%;
        margin-top: 50px;
        margin-left: auto;
    }

    .info__text {
        text-align: right;
    }

    .footer {
        padding: 50px 0;

        &__container {
            flex-direction: column;
            gap: 35px;
            margin-bottom: 40px;
        }

        &__contact {
            text-align: center;
        }

        &__title {
            margin-bottom: 20px;
        }
    }
}


