$font-lato: 'Lato', sans-serif;
$font-redhat: 'Red Hat Display', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-gray: #7B7B7B;
$color-gray-700: #565656;